h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    } 

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #253dfc;
}

    a:hover {
        text-decoration: underline;
    }

textArea {
    font-family: 'Times New Roman';
    width: 300px;
    height: 100px;
}

img {
    border: none;
}

input[type="submit"] {
    background: #0094ff;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
}

button {
    background: #0094ff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    min-width: 50px;
    font-weight: bold;
    color: #fff;
}

tr, td {
    margin: 5px;
    padding: 5px;
}

