@model IEnumerable<MvcBanHang.Models.nhanvien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3>User Admin</h3>
<p>
    @Html.ActionLink("Thêm Tài Khoản", "Create")
</p>
<table>
    <tr>
        <th>Admin
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenDN)
            </td>

        </tr>
    }
</table>
