@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3>Giới thiệu</h3>
<table cellspacing="1" style="width: 600px; margin-left: auto; margin-right: auto">
    <tr>
        <td align="justify">
            <span style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-family: Arial;">Toạ lạc ngay trung tâm thành phố - nơi đầu não của lĩnh vực công nghệ thông tin 
                với diện tích hơn 1000m<sup style="margin: 0px; padding: 0px;">2</sup>.<span
                    class="Apple-converted-space">&nbsp;</span><span
                        style="margin: 0px; padding: 0px; font-weight: bold;">Quang Phú Computer</span><span class="Apple-converted-space">&nbsp;</span>ra đời và hoạt động với 
                quy mô lớn, chuyên nghiệp, không chỉ góp phần giúp tín đồ đam mê công nghệ và 
                khách hàng tại khu vực có cơ hội tiếp cận với những dòng sản phẩm công nghệ tiên 
                tiến đa dạng , mà cùng với những hãng nổi tiếng, uy tín trên thế giới, tại đây 
                chúng tôi sẽ tạo ra một thiên đường mua sắm linh kiện máy tính “<span
                    class="Apple-converted-space">&nbsp;</span><span
                        style="margin: 0px; padding: 0px; font-weight: bold;">đẹp về mẫu mã , tốt về 
                chất lượng, cạnh tranh về giá</span><span class="Apple-converted-space">&nbsp;</span>”.</span><span
                    style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;"><span
                        class="Apple-converted-space">&nbsp;</span></span><span
                            style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-family: Arial;">Có 
                thể nói,<span class="Apple-converted-space">&nbsp;</span><span
                    style="margin: 0px; padding: 0px; font-weight: bold;">Quang Phú Computer</span><span class="Apple-converted-space">&nbsp;</span>là nơi hội tụ đầy đủ nhất 
                các mặt hàng đồ chơi công nghệ - một thế giới laptop của những hãng nổi tiếng , 
                đa dạng các chủng loại mẫu mã từ<span class="Apple-converted-space">&nbsp;</span><span
                    style="margin: 0px; padding: 0px; font-weight: bold;">Eepc</span><span
                        class="Apple-converted-space">&nbsp;</span>nhỏ bé đến<span
                            class="Apple-converted-space">&nbsp;</span><span
                                style="margin: 0px; padding: 0px; font-weight: bold;">Apple</span>,<span
                                    style="margin: 0px; padding: 0px; font-weight: bold;">Sony</span><span
                                        class="Apple-converted-space">&nbsp;</span>sành điệu, đến các em<span
                                            class="Apple-converted-space">&nbsp;</span><span
                                                style="margin: 0px; padding: 0px; font-weight: bold;">HP</span>,<span
                                                    class="Apple-converted-space">&nbsp;</span><span
                                                        style="margin: 0px; padding: 0px; font-weight: bold;">Lenovo</span><span
                                                            class="Apple-converted-space">&nbsp;</span>mảnh mai, kiêu kì cùng anh chàng<span
                                                                class="Apple-converted-space">&nbsp;</span><span
                                                                    style="margin: 0px; padding: 0px; font-weight: bold;">Del</span>l,<span
                                                                        class="Apple-converted-space">&nbsp;</span><span
                                                                            style="margin: 0px; padding: 0px; font-weight: bold;">Toshiba</span><span
                                                                                class="Apple-converted-space">&nbsp;</span>cứng cỏi ,<span
                                                                                    class="Apple-converted-space">&nbsp;</span><span
                                                                                        style="margin: 0px; padding: 0px; font-weight: bold;">Asus</span><span
                                                                                            class="Apple-converted-space">&nbsp;</span>lịch lãm cùng nàng<span
                                                                                                class="Apple-converted-space">&nbsp;</span><span
                                                                                                    style="margin: 0px; padding: 0px; font-weight: bold;">Acer</span><span
                                                                                                        class="Apple-converted-space">&nbsp;</span>trang nhã, hay những nàng<span
                                                                                                            class="Apple-converted-space">&nbsp;</span><span
                                                                                                                style="margin: 0px; padding: 0px; font-weight: bold;">Axioo</span>,<span
                                                                                                                    class="Apple-converted-space">&nbsp;</span><span
                                                                                                                        style="margin: 0px; padding: 0px; font-weight: bold;">MSI</span><span
                                                                                                                            class="Apple-converted-space">&nbsp;</span>đơn giản, trẻ trung…..từ các dòng phổ 
                thông cho đến những dòng máy cao cấp, phục vụ mọi tầng lớp, mọi lứa tuổi …Ngoài 
                thế mạnh cung cấp máy tính xách tay,<span class="Apple-converted-space">&nbsp;</span><span
                    style="margin: 0px; padding: 0px; font-weight: bold;">Quang Phú Computer</span><span class="Apple-converted-space">&nbsp;</span>còn hoạt động đa dạng các 
                mặt hàng như: máy để bàn, máy server…đặc biệt đến với Siêu thị, ngoài việc sở 
                hữu cho mình những dòng Laptop hiện đại , khách hàng còn được thoả thích làm đẹp 
                cho chúng với những linh kiện đi kèm rất độc đáo , mới lạ được nhập trực tiếp từ 
                Singapore.</span></td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/Content/Image/cuahang (1).jpg"
                style="width: 600px; height: 600px" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/Content/Image/cuahang (2).jpg"
                style="width: 561px; height: 374px" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/Content/Image/cuahang (3).jpg"
                style="width: 490px; height: 300px" /></td>
    </tr>
   
    <tr>
        <td align="justify">
            <span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">Với mục tiêu được xác định ngay từ buổi ban đầu đó chính là “<span
                class="Apple-converted-space">&nbsp;</span></span><span
                    style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-weight: bold;">Xây 
                dựng một hệ thống siêu thị Laptop thật sự chuyên nghiệp, qui mô với những sản 
                phẩm giá trị nhất , chất lượng nhất và hoàn hảo nhất</span><span
                    style="color: rgb(51, 51, 51); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;"><span
                        class="Apple-converted-space">&nbsp;</span>”, cùng với phương châm “<span
                            class="Apple-converted-space">&nbsp;</span></span><span
                                style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-weight: bold;">Quang Phú Computer – Trung Thực - Tận Tâm - Thân Thiện</span>
    <tr>
        <td align="justify">
            <span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">Tạo điều kiện cho chất lượng phục vụ khách hàng được tốt nhất, <span
                style="margin: 0px; padding: 0px; font-weight: bold;">Quang Phú Computer</span> đã đưa vào mô hình thưởng thức<span
                    class="Apple-converted-space">&nbsp;</span></span><span
                        style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-weight: bold;">Cà 
                phê trong không gian Hitech</span><span
                    style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;"><span
                        class="Apple-converted-space">&nbsp;</span>khi khách hàng chờ đợi cày đặt máy, 
                tạo sự thoải mái và thân thiện tại không gian rộng rãi tại tầng 1. Đặc biệt hơn 
                nữa là thưởng thức<span class="Apple-converted-space">&nbsp;</span></span><span
                    style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-weight: bold;">Cà 
                Phê hoàn toàn miễn phí<span class="Apple-converted-space">&nbsp;</span></span><span
                    style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">cho 
                khách hàng.</span></td>
    </tr>
    <tr>
        <td align="center">
            <img alt="" src="~/Content/Image/cafe (1).JPG" style="width: 600px; height: 450px" /></td>
    </tr>
    <tr>
        <td align="center">&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <img alt="" src="~/Content/Image/cafe (2).JPG" style="width: 600px; height: 450px" /></td>
    </tr>
    <tr>
        <td align="justify">
            <span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">Quang Phú Computer luôn tự hào để khẳng định và xây dựng thương hiệu là<span
                class="Apple-converted-space">&nbsp;</span></span><span
                    style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-weight: bold;">SIÊU 
                THỊ LAPTOP HÀNG ĐẦU VIỆT NAM</span><span
                    style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;"><span
                        class="Apple-converted-space">&nbsp;</span>với phương châm &quot;<span
                            class="Apple-converted-space">&nbsp;</span></span><span
                                style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-weight: bold;">Trung 
                Thực - Tận Tâm - Thân Thiện</span><span
                    style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">&quot;.</span></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify;">
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-size: 15px; font-family: Arial; font-weight: bold;">CÔNG TY CỔ PHẦN THƯƠNG MẠI DICH VỤ <span style="color: rgb(255, 0, 0)">Quang Phú COMPUTER</span></span>
                    </span>
                </p>
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-weight: bold;">Địa chỉ:</span><span class="Apple-converted-space">&nbsp;</span><span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">1168/14 Trường Sa, P.13, Q.Phú Nhuận,TP.HCM</span>.
                    </span>
                </p>
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-weight: bold;">Gmail:</span><span class="Apple-converted-space">&nbsp;</span>vuphanquangphu2322@gmail.com&nbsp;&nbsp;
                </p>
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-weight: bold;">Điện thoại:</span><span class="Apple-converted-space">&nbsp;</span>0374 845 661&nbsp;&nbsp;
                </p>
            </div>
            <div style="text-align: center; font-size: 18px; font-weight: bold; line-height: 30px">
                <p>
                    <span>
                        <span>
                            <span style="color: rgb(255, 0, 0)">Quang Phú COMPUTER</span> LUÔN ĐỒNG HÀNH CÙNG PHƯƠNG CHÂM
                        </span>
                    </span>
                </p>
                <p>
                    <span>
                        <span>
                            <span>“TRUNG THỰC&nbsp;- TẬN TÂM&nbsp;- THÂN THIỆN ”</span>
                        </span>
                    </span>
                </p>
            </div>
        </td>
    </tr>
</table>
