@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3>Liên hệ</h3>
<div>
    <img style="width: 600px" src="" />
    <tr>
        <td>
            <div style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 25px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify;">
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-size: 15px; font-family: Arial; font-weight: bold;">CÔNG TY CỔ PHẦN THƯƠNG MẠI DICH VỤ <span style="color: rgb(255, 0, 0)">QUANG PHÚ COMPUTER</span></span>
                    </span>
                </p>
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-weight: bold;">Địa chỉ:</span><span class="Apple-converted-space">&nbsp;</span><span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: small; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">1168/14 Trường Sa, P.13, Q.Phú Nhuận, TP.HCM</span>.
                    </span>
                </p>
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-weight: bold;">Gmail:</span><span class="Apple-converted-space">&nbsp;</span>vuphanquangphu2322@gmail.com&nbsp;&nbsp;
                </p>
                <p style="margin: 0px; padding: 0px;">
                    <span style="margin: 0px; padding: 0px; font-family: Arial;">
                        <span style="margin: 0px; padding: 0px; font-weight: bold;">Điện thoại:</span><span class="Apple-converted-space">&nbsp;</span>0374 845 661&nbsp;&nbsp;
                </p>
            </div>
        </td>
    </tr>

</div>





