@{
    ViewBag.Title = "CreateSuccess";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3>Thông báo</h3>
<div id="thongbao">
    <pre>
        Chúng tôi đã nhận được đơn đặt hàng của quý khách.
        Nhân viên của chúng tôi sẽ liên hệ ngay lại quý khách.
        Đường dây nóng : 0966 568 515
        Cảm ơn quý khách đã tin tưởng mua hàng của chúng tôi !
    </pre>
</div>
<p class="back2">
    <a href="@Url.Action("Index", "Product")">Trở về Trang Chủ</a>
</p>
