<div id="footer" class="shell">
    <div class="top">
        <div class="cnt">
            <div class="col about">
                <h4>Trụ sở chính</h4>
                <p>- 1168/14 Trường Sa, P.13, Q.Phú Nhuận, TP.Hồ Chí Minh</p>
                <p>- Gmail: vuphanquangphu2322@gmail.com</p>
                <p>- Điện thoại: 0374 845 661</p>
            </div>

            <div class="cl">&nbsp;</div>
            <div class="copy">
                <p>Bản quyền © 2020 thuộc Công ty Quang Phú Computer</p>
            </div>
        </div>
    </div>
</div>
