<div id="navigation">
    <ul>        
        <li>
            @Html.ActionLink("Trang chủ","Index", "Product")
        </li>
        <li>
            @Html.ActionLink("Giới Thiệu","Gioithieu", "Customer")
        </li>
        <li>
            @Html.ActionLink("Liên Hệ","Lienhe", "Customer")
        </li>
    </ul>
</div>