<div id="slider">
    <div class="shell">
        <ul>
            <li>
                <div class="image">
                    <img src="~/Content/Image/intel.png" alt="" />
                </div>
                <div class="details">
                    <p class="tieude">Intel Broadwell</p>
                    <h3>CPU thế hệ 5</h3>
                    <p class="title">Vi xử lý thế hệ 5 Broadwell sẽ được tung ra thị trường vào mùa mua sắm cuối năm nay.</p>
                    <p class="description">Thế hệ bộ xử lý mới của Intel được chế tạo trên nền công nghệ 14nm và có tên mã Broadwell với nâng cấp chủ yếu là cải thiện thời gian sử dụng pin của máy tính thêm khoảng 1/3, tiết kiệm điện năng khoảng 30%.</p>                    
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="~/Content/Image/nvidia.png" alt="" />
                </div>
                <div class="details">
                    <p class="tieude">Nvidia Titan-Z</p>
                    <h3>GeForce GTX Titan-Z</h3>
                    <p class="title">Dòng card GTX Titan-Z có 2 nhân GPU, 12GB RAM GDDR5 sẽ được tung ra thị trường vào ngày 29/4 với mức giá 3.000 USD/chiếc.</p>
                    <p class="description">GTX Titan-Z sở hữu 2 chip GK110 (GTX 780) với 5760 bộ xử lý CUDA, cùng 12GB bộ nhớ GDDR5. Với thông số ấn tượng như vậy, đây sẽ là card đồ họa đơn mạnh nhất trên thị trường hiện nay.</p>                    
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="~/Content/Image/wd.png" alt="" />
                </div>
                <div class="details">
                    <p class="tieude">Western Digital</p>
                    <h3>My Passport Pro</h3>
                    <p class="title">My Passport Pro có giá 300 USD cho bản dung lượng 2 TB, và 430 USD cho bản dung lượng 4 TB.</p>
                    <p class="description">My Passport Pro được trang bị hai ổ cứng chuẩn 2,5 inch có dung lượng 2x1TB hoặc 2x2TB. Western Digital cho biết tốc độ truyền tải dữ liệu của My Passport Pro lên đến 233 MB/s.</p>                    
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="~/Content/Image/main.png" alt="" />
                </div>
                <div class="details">
                    <p class="tieude">Gigabyte</p>
                    <h3>GA-X58A-UD9</h3>
                    <p class="title">Gigabyte GA-X58A-UD9 trang bị chipset Intel X58 hỗ trợ socket 1366 cho các BXL dòng Bloomfield 4 nhân lẫn Gulftown 6 nhân.</p>
                    <p class="description">Gigabyte GA-X58A-UD9 hỗ trợ CPU Intel socket 1366, 6 khe RAM DDR3 2200+ MHz, 7 khe PCI Express x16, 2 cổng SATA 6.0Gbps và 8 cổng SATA 3.0Gbps, 2 cổng USB 3.0 và 2 cổng eSATA, dual Gigabit Ethernet, âm thanh 8 kênh.</p>                    
                </div>
            </li>
        </ul>
        <div class="nav">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
        </div>
    </div>
</div>
